body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #000000;
    color: #222;
}

button, .btn-link {
    padding: 20px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #2563eb;
    color: white;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    margin-left: 490px;
    margin-top: 500px;
    font-size: x-large;
}